#board {
  display: grid;
}

.tile {
  --background-color: white;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--background-color);
  border: 1px solid black;
  margin: 0px;
  margin-bottom: -4px;
}
.inputs{
  width: 20px;
}
